.profileData {
    margin-top: 1.25rem;
    padding: 1.25rem;
    border-bottom: 1px solid #333;
}

.username {
    font-size: 36px;
    text-transform: capitalize;
}

.tagUsername {
    text-transform: lowercase;
    color: #555;
    font-size: 22px;
}

.bio {
    display: block;
    margin: 1.25rem 0;
}

.profileJoined {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #555;
    font-size: 18px;
}

.followData {
    margin-top: 1.25rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    text-transform: capitalize;
}

.following>span {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.following>span>span {
    color: #666;
}

.followers>span {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.followers>span>span {
    color: #666;
}