.user > img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.user{
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 2.5rem;
}

.usernameTwitter{
    text-transform: lowercase;
    color: #666;
}